* {
  margin: 0;
  padding: 0;
}

a {
	color: unset;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--text-color);
	font-family: sans-serif;
}

.container {
	background: var(--surface-c);
	display: flex;
	min-height: 100vh;
}
.ui-card{
	margin-top:8.5%;
}
.content {
	padding-top: 70px;
	width: 100vw;
}

